body {
   background-size:contain;
   background-image: url('/img/fondo.png');
   };
p {
   font-family: Arial;
   font-size: 20px;
   font-weight: bold;
   font-style:  italic;
   text-decoration: underline;
   text-align: center;
   };
h1 {
   background-color: rgba(0, 0, 0,0.8);
   color: #f4e033;
   };
h2 {
   background-color: orange;
   color: white;
   opacity:0.4
   }
div {
      width:100px;
      border:solid 1px red;
      padding: 5px;
      margin: 10px;
      box-sizing:border-box;
  }
header {
      background-color: lightseagreen;
      color: white;
      font-size: 28px;
      border-bottom: solid 3px indigo;
      padding: 22px;
      margin-bottom:15px;
      text-align: center;
      box-sizing:border-box;
 }
 
 section {
     width: 50%;
     margin-left: 25%;
     background-color: gainsboro;
     margin-bottom: 15px;
     padding-left: 12px;
     padding-top: 30px;
     padding-bottom: 30px;
     border: dashed 1px black;
     border-radius:5px;
     text-align: center; 
     box-sizing: border-box;
 
 }
 
 footer {
     background-color: rebeccapurple;
     color:white;
     border-top: solid 1px lightseagreen;
     padding: 12px;
     height: 40px;
     text-align: center;
     box-sizing:border-box;
 }