<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>estamos en home</h1>
    <!--img src='https://historia-arte.com/_/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbSI6WyJcL2FydGlzdFwvaW1hZ2VGaWxlXC9jMzYxYjg0MjA4ODBmYjQxODM2YmYwYWM1NjhkMWNmNS5qcGciLCJyZXNpemVDcm9wLDQwMCw0MDAsQ1JPUF9FTlRST1BZIl19.dnDP8vxlwOSSj4lH-zgrrLewId/c6SP8ASlrLu-fYiUw.jpg'-->
    <img src="../img/home.png" alt =" ">
</body>
</html>