<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href='/css/styles.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    
    <header>Maquetación de sitios webs</header>

    <section>
    <h1>estamos en home HTML + CSS + JS</h1>
    <h2> título de h2</h2>
    <p> parrafo de p</p>
    <ul>
        <li> lila</li>
        <li>verde </li>
        <li>negro </li>
     </ul>
     <ol start="10"> 
        <li> avengers</li>
        <li> the notebook</li>
        <li>el diablo viste a la moda </li>
     </ol>
    <span>Esto es un texto dentro de un span.</span>
    <span>Otro texto dentro de un span</span>
    <span>Ultimo texto dentro de un span.</span>
    <div>Las próximas lineas de texto debe estar cada una contenida dentro de una etiqueta div</div>
    <div>Esto es un texto dentro de un div.</div>
    <div>Otro texto dentro de un div.</div>
    <div>Ultimo texto dentro de un div.</div>
</section>
    <!--img src='/img/home.png'alt =" "-->
    <footer>No dudes en contactarnos</footer>
</body>
</html>